.body{
    background-image: url(./images/kelly-sikkema-6aY-6B3MiZ4-unsplash.jpg);;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
h1{
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    color: rgb(201, 56, 56);
    text-align: center;
    margin-top: 20px;
}

.contact-page{
    width:100%;
    min-height:100vh;
    padding: 16px;
}
.contact-page h1{
  margin: 0;
  color: white;
}

form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
  }
  
  div {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
 
  
  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  